/* Scrollbar - Chunky */
::-webkit-scrollbar{
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: var(--text-secondary);
  border: 3.5px solid transparent;
  background-clip: padding-box;
  border-radius: 0;
  opacity: 0.3;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--text-primary);
  border: 1px solid transparent;
}
